.header__border {
  position: relative;
}

.header__border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #545454;
  opacity: 0.7;
}
