.popup__container {
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  width: 430px;
  height: 330px;
  box-sizing: border-box;
  border-radius: 3%;
  padding: 34px 36px 37px;
  border: none;
  box-shadow: none;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 580px) {
  /* стили для мобильного */
.popup__container {
  width: 282px;
  height: 322px;
  padding: 25px 22px;
}
}
