.profile {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;

}

@media screen and (max-width: 700px) {
  /* стили для мобильного */
.profile {
  grid-template-columns: none;
  justify-items: center;
  padding: 42px 19px 0;
}
}
