.button_action_pen {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/pen.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  border: 1px solid #fff;
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  bottom: 40px;
  left: 340px;
  transition: 0.3s;
}

@media screen and (max-width: 750px) {
  /* стили для мобильного */
  .button_action_pen {
    width: 18px;
    height: 18px;
    top: 34px;
    left: 198px;
  }
}
