.profile__button-add {
  border: 2px solid #ffffff;
  background-image: url(../../../images/add.svg);
  background-color: #000;
  background-size: 14%;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  justify-self: end;
  align-self: center;
}

@media screen and (max-width: 750px) {
  /* стили для мобильного */
  .profile__button-add {
    width: 282px;
    height: 46px;
    justify-self: center;
    margin-top: 34px;
    background-size: 6%;
  }
}

@media screen and (max-width: 350px) {
  /* стили для мобильного */
  .profile__button-add {
    width: 100%;
  }
}
