.footer__autor {
  margin-block: 0;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 700px) {
  /* стили для мобильного */
  .footer__autor {
    font-size: 14px;
    line-height: 17px;
  }
}
