.profile__button-pen {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/pen.svg);
  background-color: #000;
  border: 1px solid #fff;
  grid-column: 2/3;
  align-self: center;
  margin-top: 10px;
}

@media screen and (max-width: 750px) {
  /* стили для мобильного */
  .profile__button-pen {
    width: 18px;
    height: 18px;
    margin-top: 0;
  }
}
