.popup__button-close {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close.svg);
  background-size: 100%;
  position: absolute;
  right: -10%;
  top: -12%;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 580px) {
  /* стили для мобильного */
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -11%;
  }
}
