.popup__firstname {
  border: none;
  border-bottom: 1px solid #00000022;
  padding-top: 54px;
}

@media screen and (max-width: 580px) {
  /* стили для мобильного */
.popup__firstname {
  padding-top: 75px;
}
}
